{% extends 'base/base.html' %}

{% block content %}
    <p><a href="{% url 'quality_control:bug_report_update' bug.id %}">Изменить запрос</a></p>

    <p><a href="{% url 'quality_control:bug_report_delete' bug.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос?');">Удалить запрос</a></p>
    <h1>{{ bug.title }}</h1>
    <ul>
    <p>Description: {{ bug.description }}</p>
    <p>Status: {{ bug.status }}</p>
    <p>Priority: {{ bug.priority }}</p>
    <p>Project: {{ bug.project }}</p>
    <p>Task: {{ bug.task }}</p>
    </ul>
{% endblock %}