{% extends 'base/base.html' %}

{% block content %}
    <p><a href="{% url 'quality_control:feature_request_update' feature.id %}">Изменить запрос на улучшение</a></p>

    <p><a href="{% url 'quality_control:feature_request_delete' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос?');">Удалить запрос на улучшение</a></p>
    <h1>{{ feature.title }}</h1>
    <ul>
    <p>Description: {{ feature.description }}</p>
    <p>Status: {{ feature.status }}</p>
    <p>Priority: {{ feature.priority }}</p>
    <p>Project: {{ feature.project }}</p>
    <p>Task: {{ feature.task }}</p>
    </ul>
{% endblock %}